* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* Class Chung */
.main-content {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  min-width: calc(100% -48px);
  background-color: rgb(154, 193, 248);
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  padding: 0 16px;
  font-size: 1.6rem;
  min-width: 76px;
  line-height: 35px;
  border-radius: 24px;
  color: white;
  text-align: center;
}
.btn:hover {
  background: rgba(30, 191, 193, 1);
  cursor: pointer;
}
/* Rieng */
.header .headbody {
  display: flex;
  align-items: center;
  padding: 40px 0 8px;
  background-color: rgb(154, 193, 248);
}
.head2 {
  margin-left: auto;
}
.header .head2 .active {
  display: flex;
}
.head2 a {
  width: 48;
  height: 24;
  font-size: 1.6rem;
  color: rgba(47, 58, 59, 1);
  padding: 8px 19px;
}
.head2 a:hover {
  font-size: 1.6rem;
  color: currentColor;
  text-shadow: 1px 0 0 currentColor;
}
.head2 .active:last-child {
  margin-right: 134px;
}
.header .head1 {
  display: flex;
  align-items: center;
  margin-left: 135px;
}
.header .head1 .logo1 {
  margin-left: 6px;
}
.header .head3 a {
  /* width: 53;
  height: 24; */
  font-size: 1.6rem;
  text-align: center;
  color: rgba(73, 73, 73, 1);
  padding: 0 24px;
}
.header .head3 .sup {
  border-radius: 24px;
  margin-right: 150px;
}
/* Tab 1 */
.bodydad {
  display: flex;
  width: 40%;
  padding-left: 135px;
  padding-top: 147px;
}
.body .body1 .note {
  font-size: 1.4rem;
  line-height: 21px;
  color: rgba(118, 126, 126, 1);
  width: 192;
  height: 21;
  margin-bottom: 18px;
}
.body .body1 .title {
  font-weight: 700;
  font-size: 6.2rem;
  line-height: 72px;
  color: rgba(13, 17, 17, 1);
  width: 458;
  height: 144;
  margin-bottom: 46px;
}
.body .body1 p {
  font-size: 1.8rem;
  line-height: 32px;
  color: rgba(157, 166, 165, 1);
  width: 374;
  height: 96;
  margin-bottom: 52px;
}
.body .body1 .button {
  display: flex;
  align-items: center;
  width: 324px;
  height: 62px;
}
.body .body1 .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.body .body1 img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
  cursor: pointer;
  margin-left: 50px;
  margin-top: 35px;
}
.body .body1 .gst {
  min-width: 186px;
  min-height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(13, 17, 17, 1);
  font-size: 600;
}
